/* COMMON */
section{
    padding: 50px 0;
}
.container {
    max-width: 68.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: auto;
}
/* TYPOGRAPHY */
body{
    font-family: 'PT Sans', sans-serif;
}
/* FLEX */
.flex-between{
    display: flex;
    justify-content: space-between;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* BUTTONS */
.btn{
    border-radius: 3.125rem;
}
.primary-btn{
    padding: .625rem 3.125rem;
    color: white;
    font-weight: bold;
}
.first-color-btn{
    background-color: var(--first-color);
}
.white-btn{
    background-color: white;
}
.linkedin-btn{
    color:white;
    padding: .3125rem .625rem;
}
.link-btn{
    text-decoration: none;
}
.btn-xl{
    padding: 1.25rem 5rem;
}
.btn-purple-text{
    color: #9792E4;
}