/* COMMON */
section{
    padding: 50px 0;
}
.container {
    max-width: 68.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: auto;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
