footer{
    background-color: #333333;
    padding: 2.8125rem 1.875rem;
    color: white;
    text-align: center;
}
footer div{
    margin-top: 4.375rem;
    max-width: 26.25rem;
    margin-left: auto;
    margin-right: auto;
}
footer a{
    color: #8D88D3;
}
footer p{
    max-width: 26.25rem;
    margin: auto;
}