header{
    background-color: var(--second-color);
    color: white;
    padding: .9375rem 0;
    position: sticky;
    left: 0 ;
    right: 0;
    top:0;
    z-index: 999;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
}
.menu{
    color: inherit;
    border: none;
    background-color: transparent;
    font-size: 2.1875rem;
    cursor: pointer;
}
/* navigazione */
nav{
    display: none;
}
.list-inline{
    list-style: none;
    display: flex;
    align-items:center ;
    height: 100%;
}
.list-inline li a{
    text-decoration: none;
    color: inherit;
}
.list-inline li{
    padding: .75rem 1.25rem ;
}
.list-inline li:last-child{
    color: black;
    background-color: white;
}

/* RESPONSIVE */
@media screen and (min-width:992px) {
    .menu{
        display: none;
    }
    nav{
        display: block;
    }
}